doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
   	script(src="/javascripts/sea.js")
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/underscore.js")
    script(src="/javascripts/backbone.js")
    script(src="/javascripts/article.js")
  body
    block content